node_modules
.next
out
build
dist

# env
.env*.local
.env

# runtime data (sqlite lives here)
data/

# deps/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# testing
coverage
.nyc_output

# caches
.eslintcache
.turbo
.cache

# editor
.vscode
.idea

# misc
*.tsbuildinfo
next-env.d.ts
